<ion-view title="{{title}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" noScroll>
    <ion-list ng-repeat="c in content">

      <div class="item item-thumbnail-left" ng-click="go('/app/video/{{c.id}}')">
        <img src="http://img.youtube.com/vi/{{c.id}}/0.jpg">
        <h2>{{c.name}}</h2>
        <p>Descrição do Vídeo</p>
      </div>

    </ion-list>
  </ion-content>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios7-search"></button>
  </ion-nav-buttons>
</ion-view>