<ion-view title="CampusTV">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" noScroll>

      <div ng-if="new" class="list card yellow" ng-click="go('/app/content/{{new.id}}')">
        <div class="item noborder" swipetowin="{{new.id}}">
          <div class="item item-text-wrap">
            {{new.name || new.titulo}}
          </div>
          <div class="item item-image">
            <img src="{{new.thumbnail || new.image || imgDef}}">
          </div>
        </div>
        <div class="escondeesconde">
          <div>
            <i class="icon ion-star"></i>
          </div>
        </div>
      </div>

      <div ng-repeat="playlist in playlists" class="list card" ng-click="go('/app/content/{{playlist.id}}')">
        <div class="item noborder" swipetowin="{{playlist.id}}">
          <div class="item item-text-wrap">
            {{playlist.name || playlist.titulo}}
          </div>
          <div class="item item-image">
            <img src="{{playlist.thumbnail || playlist.image || imgDef}}">
          </div>
        </div>
        <div class="escondeesconde">
          <div>
            <i class="icon ion-star"></i>
          </div>
        </div>
      </div>
 </ion-content>

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios7-search"></button>
  </ion-nav-buttons>
</ion-view>
