<ion-view title="{{data.titulo || data.name}}">
  <ion-content class="has-header">

    <div class="video" ng-if="data.videoId">
      <div youtube></div>
    </div>

    <div ng-if="data.conteudo">
      <img style="max-width: 100%" src="http://www.fct.unl.pt/sites/default/files/imagens/noticias/noticias.jpg">
      <h4>{{data.titulo}}</h4>
      <p>Notícia completa <a href="{{data.link}}">aqui</a></p>
    </div>

    <div ng-if="!data.conteudo && !data.videoId">
      <img style="max-width: 100%" src="{{data.image}}">
      <h4>{{data.titulo}}</h4>
    </div>

    <p ng-if="isFav" ng-click="rem(data._id)">Remover dos favs</p>
    <p ng-if="!isFav" ng-click="add(data._id)">Adicionar aos favs</p>

  </ion-content>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios7-search"></button>
  </ion-nav-buttons>
</ion-view>
